@{
    ViewBag.Title = "iLife";
    //Layout = null;
}
<h1></h1>
<h2 class="AboutTitle">@ViewBag.Title</h2>
<h3 class="tagline">Будьте всегда на связи и оставайтесь в курсе новостей Ваших друзей, где бы Вы ни находились!</h3>
<center><img class="aboutimg" src="~/Content/image/interface/About.jpg" /></center>
