@{
    ViewBag.Title = "О нас";
}

<div class="d-flex centerflex mt-1 mb-1">
    Добро пожаловать в iLife!
</div>

<div class="rightabout">
    Мы - молодой, быстро развивающийся и иногда успешный стартап. <br />
    Вы желаете работать за еду 24/7? Тогда добро пожаловать в нашу команду!
</div>

<div class="aboutuscontainer">
    <div class="d-flex flex-row">
        <div class="leftabout">
            <img alt="Макс" class="img-thumbnail img-about" src="~/Content/image/interface/fish.png" />
        </div>
        <div class="rightabout">
            <div>
                <span class="aboutname">Макс</span><br />
                Не понимает, что происходит. <br />
                И откуда взялся этот баг. <br />
                И ПОЧЕМУ ОПЯТЬ ВСЁ СЪЕХАЛО.
            </div>
        </div>
    </div>
</div>

<div class="aboutuscontainer">
    <div class="d-flex flex-row">
        <div class="leftabout">
            <img alt="Ваня" class="img-thumbnail img-about" src="~/Content/image/interface/itak.jpg" />
        </div>
        <div class="rightabout">
            <div class="rightabout">
                <div>
                    <span class="aboutname">Ваня</span><br />
                    <span style="display:none;">Царь и Бог</span>
                    Да ладно, это же лабы, а не курсач. Да и так пойдёт. <br />
                    Ну ладно, сейчас починю. <br />
                    Да просто не будем это на защите показывать, и всё.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="aboutuscontainer">
    <div class="d-flex flex-row">
        <div class="leftabout">
            <img alt="Катя" class="img-thumbnail img-about" src="~/Content/image/interface/kat.jpg" />
        </div>
        <div class="rightabout">
            <div class="rightabout">
                <div>
                    <span class="aboutname">Катя</span><br />
                    Арт-редактор, вдохновитель, главный двигатель процесса.<br />
                    Существо вредное, но довольно милое.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="aboutuscontainer">
    <div class="d-flex flex-row">
        <div class="leftabout">
            <img alt="Саша" class="img-thumbnail img-about" src="~/Content/image/interface/fine.png" />
        </div>
        <div class="rightabout">
            <div>
                <span class="aboutname">Саша</span><br />
                Это не баг, а фича.
            </div>
        </div>
    </div>
</div>
<address>
    <strong>По вопросам сотрудничества обращаться:</strong>   <a href="mailto:Support@example.com">Pochta@example.com</a><br />

</address>