@if (Request.IsAuthenticated)
{
    @Html.ActionLink( User.Identity.Name, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "topitem1 btn button" })
    using (Html.BeginForm("Search", "Home"))
    {
        <input type="text" class="searchtext" placeholder="Поиск.." name="text">
        <button type="submit" class="searchbutton"><i class="fa fa-search"></i></button>
    }
    <div class="mr-auto"></div>
    @Html.ActionLink("Добавить пост", "NewPost", "Home", null, new { @class = "btn button" })

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <button type="button" class="btn button" onclick="javascript:document.getElementById('logoutForm').submit()">Выйти</button>
    }


}
else
{
    @Html.ActionLink("Войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink",  @class = "topitem1 btn button" })
}

